body,
html {
  width: 100%;
  height: 100%; 
}

body{
	background-position: center;
  background-image: url("https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin:0px;
  font-family: 'PT Serif', serif;
}
.container {
  position: relative;
  width: 100%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #467E9F;
  color: white;
  font-size: 1.5em;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: .5s ease; 
}

.container .btn:hover {
  background-color: black;

}